* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family-1: 'Open Sans', sans-serif;
    --font-family-2: 'Baloo 2', sans-serif;
    --font-family-3: 'Leckerli One', cursive;

    --logo: 400 2.5rem/normal var(--font-family-3);
    --heading-md: 700 1.75rem/normal var(--font-family-2);
    --heading-sm: 700 1.125rem/normal var(--font-family-2);
    --body-md: 400 1rem/normal var(--font-family-1);
    --body-sm: 400 0.875rem/normal var(--font-family-1);
    --body-xs: 400 0.75rem/normal var(--font-family-1);

    background-color: black;
    --shape-background: #131516;
    --shape-body: #212427;
    --pink: #FF598B;
    --text-heading: #F9F9F9;
    --text-body: #C8CDD0;
    --input-placeholder: #869198;
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --brand-light: #59B2FF;
    --shape-button: #2D3136;
    --shape-hover: #383D42;
}