#app {
    display: grid;
    grid-template-columns: clamp(320px, 34.375vw, 550px) 1fr;
    height: 100vh;
    overflow: auto;
    border-radius: 20px;
    background-color: var(--shape-background);


}

aside {
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;

    & .aside-container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    & .background {
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
        background-image: url('../assets/images/Background.png');
        background-size: cover;
        background-position: center;
        height: calc(100% - 2.5rem);
        width: calc(100% - 2.5rem);
        border-radius: 12px;
        z-index: 1;
    }
    
    & header {
        position: absolute;
        z-index: 2;
        top: 3.25rem;
        left: 3.25rem;
        padding-right: 2rem;
        max-width: calc(100% - 4.5rem);
    }
    
    & h1, & span {
        position: relative;
        z-index: 2;
    }
    
    & .logo {
        margin-bottom: 1rem;

        & img {
            height: 48px;
            width: auto;
        }
    }
    
    & h1 {
        color: var(--pink);
        font: var(--logo);
        margin-bottom: 0.25rem;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    & span {
        color: var(--text-heading);
        font: var(--body-md);
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        display: block;
        font-weight: 300;
    }
}

main {
    overflow-y: auto;
    
    & .main-container {
        padding-block: 5rem;
        background-color: var(--shape-body);
        border-radius: 12px;
        margin: 1.25rem 1.25rem 1.25rem 0;
        min-height: calc(100vh - 2.5rem);
        justify-content: center;
        display: flex;

        & h2 {
            margin-bottom: 40px;
        }

        & .main-content {
            width: 560px;
        }
    }
}



