/* Media queries para controlar os limites do aside */
@media (max-width: 768px) {
    #app {
        grid-template-columns: 1fr;
        grid-template-rows: 100vh auto;
        height: auto;
        overflow: auto;
    }
    
    aside {
        min-height: 100vh;
        height: 100vh;
    }
    
    main {
        margin-top: 2rem;
    }
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
    #event-form {
        grid-template-columns: 1fr;
    }
    
    .group2 {
        grid-template-columns: 1fr;
    }
      button[type="submit"], .submit-button {
        width: 100%;
        position: relative;
        margin-top: 2rem;
        justify-content: center;
        padding: 1rem;
    }
    
    .terms-section {
        padding-bottom: 0;
    }
}